@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Vendor Order Tracking System</h1>

<p>This is the homepage of the application. You can navigate to other pages using the links below:</p>

<ul>
    <li><a asp-controller="Vendors" asp-action="Index">Vendors</a></li>
</ul>
